*{
    margin: 0;
    padding: 0;
}

// VARIABLES
@import './variables/utilidades';
@import './variables/extend';

// SECCIONES
@import './secciones/header';
@import './secciones/grids';
@import './secciones/main-index';
@import './secciones/main-giras';
@import './secciones/main-playlist';
@import './secciones/main-acercadeguns';
@import './secciones/main-contacto';
@import './secciones/footer';

body{
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}