.gridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr .1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section3"
        "section4 section4"
        "footer footer";
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}

.gridGiras {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2r .15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "table"
        "sectionGiras1"
        "footer";
    background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}

.gridPlaylist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr .2fr;
    grid-auto-flow: row;
    grid-template-areas:
        "main"
        "main"
        "main"
        "footer";
    align-items: stretch;
    justify-items: stretch;

}

.gridAcercaDeGuns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas:
        "sectionAcercaDeGuns1 sectionAcercaDeGuns1 sectionAcercaDeGuns1"
        "sectionAcercaDeGuns2 sectionAcercaDeGuns2 sectionAcercaDeGuns2"
        "sectionAcercaDeGuns3 sectionAcercaDeGuns3 sectionAcercaDeGuns3";
}

.gridContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2"
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2"
        "sectionContacto1 sectionContacto1 SectionContacto2 SectionContacto2";    
        background-image: linear-gradient(#EDE3E4, grey, rgb(68, 67, 67));
}

@media (max-width: 576px) {
    .gridIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr 2fr 2fr 2fr;
        grid-template-areas:
            "section1 section1 section1 section1 section1"
            "section2 section2 section2 section2 section2"
            "section3 section3 section3 section3 section3"
            "section4 section4 section4 section4 section4";
    }

    .index div{
        flex-wrap: wrap !important;
    }

    .index img {
        max-width: 500px;
    }

    .gridGiras {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 3fr;
        grid-auto-flow: row;
        grid-template-areas:
            "table table table table table"
            "sectionGiras1 sectionGiras1 sectionGiras1 sectionGiras1 sectionGiras1";
    }

    .gridGiras .table{
        width: 576px;
    }

    .gridGiras .table table td{
        padding: 5px;
    }

    .gridGiras .sectionGiras1 img{
        width: 400px;
        &:hover{
            transition: 3s;
            transform: scale( 1.2, 1.2);
        }
    }

    .gridPlaylist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8fr 8fr 8fr;
        grid-template-areas:
            "main main main"
            "main main main"
            "main main main";
    }

    .main {
        grid-area: main;
    }

    .s-1 {
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 576px;
        padding: 100px;
    }

    .s-2 {
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 576px;
        padding: 0 100px;
    }

    .playlist main div div ul {
        font-size: 1rem;
    }

    .Playlist main div div form {
        font-size: 1rem;
    }

    footer {
        grid-area: footer;
        max-width: 576px;
    }

    footer a img {
        height: 30px;
        width: 30px;
    }

    .gridAcercaDeGuns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: .5fr .5fr .5fr;
        grid-auto-flow: row;
        grid-template-areas:
            "sectionAcercaDeGuns1 sectionAcercaDeGuns1 sectionAcercaDeGuns1 sectionAcercaDeGuns1 sectionAcercaDeGuns1"
            "sectionAcercaDeGuns2 sectionAcercaDeGuns2 sectionAcercaDeGuns2 sectionAcercaDeGuns2 sectionAcercaDeGuns2"
            "sectionAcercaDeGuns3 sectionAcercaDeGuns3 sectionAcercaDeGuns3 sectionAcercaDeGuns3 sectionAcercaDeGuns3";
    }

    .acercaDe div h2{
        font-size: 2rem;
        margin: 3rem;
    }

    .acercaDe div ol{
        padding: 5rem 0;
        max-height: $medidas2*5;
        margin: 0 2rem;
    }

    .gridContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 4fr 4fr;
        grid-auto-flow: row;
        grid-template-areas:
            "sectionContacto2 sectionContacto2 sectionContacto2"
            "sectionContacto2 sectionContacto2 sectionContacto2"
            "sectionContacto2 sectionContacto2 sectionContacto2";    
    }

    .contacto form{
        max-width: 500px;
    }

    .contacto div img{
        width: 576px;
    }
}